.aboutSection {
  position: relative;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--spacing-2xl);
  min-height: 70vh;
  /* min-height: 70dvh; */
}

.profile {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
  gap: var(--spacing-2xl);
}

.avatarContainer {
  background-image: url('../../assets/shape.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, black 0%, black 85%, transparent 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation {
  max-width: 90%;
  margin-inline: auto;
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-7);
  color: var(--color-on-surface-variant);
}

@keyframes gradientShift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2xl);
  }

  .profile {
    flex-direction: row;
    text-wrap-style: balance;
    text-align: left;
  }

  .presentation {
    width: 100%;
    margin-inline: 0;
  }
}
