.inputWrapper {
  position: relative;
}

.inputIcon,
.inputButton {
  right: var(--spacing-sm);
}

.inputLabel {
  font-size: var(--font-size-body-medium);
  left: var(--spacing-md);
  transition:
    transform var(--transition-slow),
    font-size var(--transition-slow),
    color var(--transition-slow);
}

.inputIcon,
.inputButton,
.inputLabel {
  position: absolute;
  color: var(--color-on-surface-variant);
  top: 50%;
  transform: translateY(-50%);
}

.inputField {
  font-weight: var(--font-weight-4);
  width: 100%;
  color: var(--color-on-surface);
  background-color: var(--color-surface-variant);
  padding-block: var(--spacing-lg) var(--spacing-sm);
  padding-inline: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--radius-md);
  transition: outline-color var(--transition-slow);
}

.inputField:focus {
  outline: var(--stroke-width-2) solid var(--color-on-surface);
}

.inputField::placeholder {
  font-size: var(--font-size-body-small);
}

.inputField:focus ~ .inputIcon,
.inputField:focus ~ .inputLabel {
  color: var(--color-on-surface);
}

.inputField:focus,
.inputField:not(:placeholder-shown):not(:focus) {
  padding-block: var(--spacing-lg) var(--spacing-sm);
}

.inputField:focus ~ .inputLabel,
.inputField:not(:placeholder-shown):not(:focus) ~ .inputLabel {
  transform: translateY(-25px);
  font-size: var(--font-size-body-small);
  color: var(--color-on-surface);
}

.inputField:focus:not(.inputFieldError) {
  outline-color: var(--color-on-surface);
}

.inputFieldError {
  outline: var(--stroke-width-2) solid var(--color-error);
}

.inputLabelDisabled,
.inputFieldDisabled {
  opacity: var(--state-layer-disabled-opacity);
  cursor: not-allowed;
}

.inputFeedback {
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputHint {
  font-size: var(--font-size-body-small);
  margin-left: auto;
}

.inputErrorMessage {
  color: var(--color-error);
  font-size: var(--font-size-body-small);
  display: flex;
  align-items: center;
  justify-content: center;
}
