.toggle {
  padding: var(--spacing-sm);
  border: var(--stroke-width-1) dashed var(--color-outline);
}

.iconWrapper {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  justify-content: center;
}
