html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  font-family: var(--font-family-base);
  font-size: var(--font-size-body-large);
  color: var(--color-on-surface);
  background-color: var(--color-surface);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-display);
}

h1 {
  font-size: var(--font-size-display-large);
  font-weight: var(--font-weight-9);
  line-height: var(--line-height-4);
}

h2 {
  font-size: var(--font-size-headline-large);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-3);
}

h3 {
  font-size: var(--font-size-headline-medium);
  font-weight: var(--font-weight-6);
  line-height: var(--line-height-2);
}

h4 {
  font-size: var(--font-size-headline-small);
  font-weight: var(--font-weight-5);
  line-height: var(--line-height-1);
}

textarea,
input {
  border: none;
  outline: none;
  background: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color-darker) transparent;
}

*:hover {
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
}

/* =============== REUSABLE CSS CLASSES =============== */
.section {
  padding: var(--spacing-lg) 0 var(--spacing-sm);
}

.container {
  max-width: var(--container-max-width);
  padding-inline: var(--spacing-md);
}

/* Desktop */
@media (min-width: 767px) {
  .container {
    margin-inline: auto;
  }
}
