.contactSection {
  position: relative;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  min-height: 60dvh;
  min-height: 60vh;
}

.description {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 400px;
}

.sendEmailResultContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
}

.sendEmailSuccessText,
.sendEmailErrorText {
  text-wrap-style: stable;
  font-size: var(--font-size-body-medium);
}

.sendEmailErrorIcon {
  color: var(--color-error);
}

.sendEmailSuccessIcon {
  color: var(--color-success);
}

.contactDivider {
  border: var(--stroke-width-1) solid var(--color-outline);
  margin-block: var(--spacing-xl);
  width: 40%;
  margin-inline: auto;
}

.contactEmailAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.contactOptionEmail {
  text-align: center;
  font-size: var(--font-size-body-medium);
  color: var(--color-on-surface-variant);
}

.contactCopyEmail {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.copyEmailBtn {
  transition: transform var(--transition-base);
}

.copyEmailBtn:hover .iconCopyEmailAction {
  animation: iconBounce 0.5s ease-in-out;
}

@keyframes iconBounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
