[data-theme='dark'] {
  --color-primary: rgb(145 206 245);

  --color-surface-tint: rgb(145 206 245);

  --color-on-primary: rgb(0 52 75);
  --color-primary-container: rgb(0 76 107);
  --color-on-primary-container: rgb(198 231 255);

  --color-secondary: rgb(182 201 216);
  --color-on-secondary: rgb(33 51 62);
  --color-secondary-container: rgb(55 73 85);
  --color-on-secondary-container: rgb(210 229 244);

  --color-tertiary: rgb(204 193 233);
  --color-on-tertiary: rgb(51 44 76);
  --color-tertiary-container: rgb(74 66 99);
  --color-on-tertiary-container: rgb(232 222 255);

  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);

  --color-background: rgb(15 20 23);
  --color-on-background: rgb(223 227 231);

  --color-surface: rgb(15 20 23);
  --color-surface-rgba: rgba(15, 20, 23, 0.75);

  --color-on-surface: rgb(223 227 231);
  --color-surface-variant: rgb(65 72 77);
  --color-on-surface-variant: rgb(193 199 206);

  --color-inverse-surface: rgb(223 227 231);
  --color-inverse-on-surface: rgb(44 49 52);

  --color-outline: rgb(139 146 152);
  --color-outline-variant: rgb(65 72 77);

  --color-shadow: rgb(0 0 0);

  --color-scrim: rgb(0 0 0);

  --color-success: rgb(92, 214, 143);
}
