:root {
  --color-primary: rgb(32 100 135);

  --color-surface-tint: rgb(32 100 135);

  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(198 231 255);
  --color-on-primary-container: rgb(0 76 107);

  --color-secondary: rgb(79 97 109);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(210 229 244);
  --color-on-secondary-container: rgb(55 73 85);

  --color-tertiary: rgb(98 89 124);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(232 222 255);
  --color-on-tertiary-container: rgb(74 66 99);

  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);

  --color-background: rgb(246 250 254);
  --color-on-background: rgb(24 28 31);

  --color-surface: rgb(246 250 254);
  --color-surface-rgba: rgba(246, 250, 254, 0.75);

  --color-on-surface: rgb(24 28 31);
  --color-surface-variant: rgb(221 227 234);
  --color-on-surface-variant: rgb(65 72 77);

  --color-inverse-surface: rgb(44 49 52);
  --color-inverse-on-surface: rgb(238 241 246);

  --color-outline: rgb(113 120 126);
  --color-outline-variant: rgb(193 199 206);

  --color-shadow: rgb(0 0 0);

  --color-scrim: rgb(0 0 0);

  --color-success: hsl(145, 60%, 25%);
}
