:root {
  /* COLOR: #9AA0A8 (CoolSteal) */

  --color-surface-tint: rgb(89 95 102);

  --color-primary: rgb(89 95 102);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(154 160 168);
  --color-on-primary-container: rgb(49 55 62);

  --color-secondary: rgb(93 94 98);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(226 226 230);
  --color-on-secondary-container: rgb(99 100 104);

  --color-tertiary: rgb(101 91 100);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(168 156 166);
  --color-on-tertiary-container: rgb(60 52 60);

  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);

  --color-background: rgb(252 248 249);
  --color-on-background: rgb(28 27 28);

  --color-surface-rgba: rgba(252, 248, 249, 0.75);
  --color-surface: rgb(252 248 249);
  --color-on-surface: rgb(28 27 28);
  --color-surface-variant: rgb(225 226 231);
  --color-on-surface-variant: rgb(68 71 75);

  --color-outline: rgb(117 119 123);
  --color-outline-variant: rgb(197 198 203);

  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);

  --color-inverse-surface: rgb(49 48 49);
  --color-inverse-on-surface: rgb(243 240 240);

  --color-success: rgb(92, 214, 143);
}
