:root {
  --container-max-width: 920px;
  --header-height: 5rem;

  --spacing-2xl: 3rem; /* 48px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-md-plus: 1.25rem; /* 20px */
  --spacing-md: 1rem; /* 16px */
  --spacing-sm-plus: 0.75rem; /* 12px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-xs: 0.25rem; /* 4px */

  /* ========== Breakpoints ========== */
  --breakpoint-sm: 400px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 767px;
  --breakpoint-xl: 992px;
}
