.header {
  position: sticky;
  inset: 0;
  box-shadow: var(--elevation-1);
  transition: box-shadow var(--transition-base);
  z-index: var(--z-fixed);
}

.header::before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: var(--color-surface-rgba);
  backdrop-filter: blur(15px);
}

.headerExtras,
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing-xs);
}

.logo {
  font-weight: var(--font-weight-6);
}

.headerScrolled {
  box-shadow: var(--elevation-2);
}

.headerContainer {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--z-fixed);
}

.logoLink {
  padding: var(--spacing-xs);

  &::before {
    background-color: transparent;
  }
}

.headerNav {
  background-color: var(--color-surface-rgba);
  backdrop-filter: blur(10px);
  padding-inline: var(--spacing-lg);
  padding-block: var(--spacing-sm);

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);

  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity var(--transition-base),
    transform var(--transition-base);
}

.headerNavOpen {
  pointer-events: auto;
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.iconContainer {
  position: relative;
  display: inline-flex;
  width: 24px;
  height: 24px;
}

.menuIcon,
.closeIcon {
  position: absolute;
  inset: 0;
  transition:
    opacity var(--transition-base),
    transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon {
  opacity: 1;
  transform: rotate(0deg) scale(var(--scale-base));
}

.closeIcon {
  opacity: 0;
  transform: rotate(-90deg) scale(var(--scale-shrink-2));
}

.headerMenuButton[aria-expanded='true'] .menuIcon {
  opacity: 0;
  transform: rotate(90deg) scale(var(--scale-shrink-2));
}

.headerMenuButton[aria-expanded='true'] .closeIcon {
  opacity: 1;
  transform: rotate(0deg) scale(var(--scale-base));
}

@media (min-width: 768px) {
  .headerMenuButton {
    display: none;
  }

  .headerNav {
    transform: none;
    opacity: 1;
    position: static;

    background-color: transparent;
    backdrop-filter: none;

    flex-direction: row;
    align-items: center;
    padding: 0;
    pointer-events: auto;
  }
}
