.buttonThemeIcon {
  transition:
    transform var(--transition-base),
    opacity var(--transition-base);
}

.buttonThemeIconLight {
  transform: rotate(0deg);
  opacity: 1;
}

.buttonThemeIconDark {
  transform: rotate(360deg);
  opacity: 1;
}
